# Installing Libraries

In [1]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\analy\saidatri\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\analy\saidatri\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\analy\saidatri\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install requests

Requirement already satisfied: requests in c:\users\analy\saidatri\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\analy\saidatri\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\analy\saidatri\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\analy\saidatri\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\analy\saidatri\lib\site-packages (from requests) (2022.9.14)
Note: you may need to restart the kernel to use updated packages.

# Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [4]:
url='https://www.worldometers.info/coronavirus/#countries'

In [5]:
response = requests.get(url).text

In [6]:
soup = BeautifulSoup(response,'html.parser')

# Web Scrapping of the data

In [7]:
table = soup.find('tbody')

In [8]:
table_data = []
for row in table.findAll('tr'):
    row_data = []
    for cell in row.findAll('td'):
        row_data.append(cell.text)
    if(len(row_data) > 0):
        data = {"Country": row_data[1],
                     "TotalCases": row_data[2],
                     "NewCases": row_data[3],
                     "TotalDeaths": row_data[4],
                     "NewDeaths": row_data[5],
                     "TotalRecovered": row_data[6],
                     "ActiveCases": row_data[7],
                     "CriticalCases": row_data[8],
                     "Totcase1M": row_data[9],
                     "Totdeath1M": row_data[10],
                     "TotalTests": row_data[11],
                     "Tottest1M": row_data[12],
        }
        table_data.append(data)

In [9]:
df = pd.DataFrame(table_data)

# Checking the data

In [10]:
df.head()

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,CriticalCases,Totcase1M,Totdeath1M,TotalTests,Tottest1M
0,\nNorth America\n,"126,353,091",+494,"1,630,731",+4,"122,171,699","+1,005","2,550,661","6,310",,,
1,\nAsia\n,"217,021,377","+19,993","1,545,581",+8,"200,767,110","+5,003","14,708,686","15,651",,,
2,\nEurope\n,"249,093,309",,"2,056,057",,"245,004,734","+11,320","2,032,518","6,329",,,
3,\nSouth America\n,"68,627,123",,"1,354,933",,"66,454,701",+300,"817,489","10,125",,,
4,\nOceania\n,"14,226,011",,"27,464",,"14,060,980",,"137,567",89,,,

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         239 non-null    object
 1   TotalCases      239 non-null    object
 2   NewCases        239 non-null    object
 3   TotalDeaths     239 non-null    object
 4   NewDeaths       239 non-null    object
 5   TotalRecovered  239 non-null    object
 6   ActiveCases     239 non-null    object
 7   CriticalCases   239 non-null    object
 8   Totcase1M       239 non-null    object
 9   Totdeath1M      239 non-null    object
 10  TotalTests      239 non-null    object
 11  Tottest1M       239 non-null    object
dtypes: object(12)
memory usage: 22.5+ KB

In [12]:
df.shape

(239, 12)

# Save it in the form of CSV file

In [13]:
df.to_csv('Covid19.csv')